@import "reset";

html {
  background-color: rgb(218, 218, 218);
  font-family: "Lato", sans-serif;
}

.container {
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-evenly;
  gap: 30px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-flow: row wrap;
  .card {
    flex: 0 0 300px;
  }
  .filling-empty-space-childs {
    width: 300px; /*the width of the images in this example*/
    height: 0; /*Important! for the divs to collapse should they fall in a new row*/
  }
}

h2 {
  font-size: 30px;
  font-weight: 900;
  padding: 0 40px;
}

.card {
  background-color: #f4d03f;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 20px;
  border: 15px solid white;
  .card_image {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 5px 5px 0 0;
    i {
      font-size: 60px;
    }
  }
  .card_name {
    font-weight: 900;
    letter-spacing: 1.5px;
    padding: 10px;
    margin: 5px 0;
  }
  .card_text {
    line-height: 1.5;
    padding: 10px;
    margin: 0;
    color: rgb(75, 75, 75);
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    button {
      flex: 0 0 45%;
      border: none;
      padding: 10px;
      background-color: #fff;
      i {
        font-size: 25px;
        color: rgb(88, 88, 88);
      }
    }
  }
}
